
<%- contentFor('header') %>



<%- contentFor('body') %>

<div class="row" ng-controller="ConsultoresCtrl">
	<style type="text/css">
	.select2-container--bootstrap{
	    width:100% !important;
	}
	.select2-results__option[aria-selected=true] {
	    display: none;
	}
	.chart{
	    display: block; width: 100%; height: auto;
	}
	</style>
	<div class="col-md-12 card" >
        <div class="card-header">
            <div class="alert alert-info" role="alert" ng-if="filter.users.length === 0 
                || filter.dateTo === null 
                || filter.dateFrom === null">
              <strong>Un momento !! </strong> Antes de poder realizar cualquier operación, debe completar los periodos de busqueda y seleccionar al menos un consultor.
            </div>
            <div class="input-daterange input-group" id="datepicker">
                <input  type="text" placeholder="Periodo Desde..." class="input-datepicker input-sm form-control-xs" name="start" ng-model="filter.dateFrom"/>
                <input  type="text" placeholder="Periodo Hasta..." class="input-datepicker input-sm form-control-xs" name="end" ng-model="filter.dateTo" />
            </div>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input id="selectAll" class="form-check-input" type="checkbox" value=""> Seleccionar Todos Los Consultores
                          </label>
                        </div>
                        <select id="selector" ng-model="filter.users" class="form-control-sm pmd-select2-tags" multiple>
                             <option ng-repeat="(key, consultor) in consultores" value="{{consultor.Id}}">{{consultor.Username}}</option>
                        </select>
                </div>
                <div class="col-md-6">
                    <div class="btn-group float-right">
                        <button data-toggle="tab" role="tab" href="#panel1" ng-disabled="filter.users.length === 0 
                || filter.dateTo === null 
                || filter.dateFrom === null" type="button" class="btn btn-dark-green btn-sm float-right" value="search" ng-click="getInvoices()">
                            Informe
                        </button>
                        <button data-toggle="tab" href="#panel2" role="tab" type="button" class="btn btn-primary btn-sm float-right" ng-disabled="filter.users.length === 0 
                || filter.dateTo === null 
                || filter.dateFrom === null || consultorInvoices.length == 0" ng-click="getInvoices()">
                            Grafico
                        </button>
                        <button data-toggle="tab" href="#panel3" role="tab" type="button" class="btn btn-primary btn-sm float-right" ng-disabled="filter.users.length === 0 
                || filter.dateTo === null 
                || filter.dateFrom === null || consultorInvoices.length == 0" ng-click="getInvoices()">
                            Grafico Pizza
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content card-block">
            <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                <div class="table-responsive" ng-if="consultorInvoices.length > 0">
                    <table style="margin-top:15px;font-size:13px;" ng-repeat="consultor in consultorInvoices" class="table table-striped table-bordered table-sm table-condensed">
                        <thead class="thead-inverse">
                            <tr>
                                <th colspan="5">
                                    {{consultor.Consultor.Username}}
                                </th>
                            </tr>
                            <tr>
                                <th>Periodo</th>
                                <th>Ganancias Netas</th>
                                <th>Costo Fijo</th>
                                <th>Comisión</th>
                                <th>Ganancias</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(invoicesKey, invoice) in consultor.Invoices">
                            <tr>
                                <td>{{ invoice.InvoiceDate }}</td>
                                <td>{{ invoice.Price | currency:"R$"}}</td>
                                <td>{{ invoice.NetConsultorPrice | currency:"R$"}}</td>
                                <td>{{ invoice.Commission | currency:"R$" }}</td>
                                <td>{{ invoice.Gains | currency:"R$"}}</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <th>Totales</th>
                                <th>{{ consultor.TotalPrice | currency:"R$"}}</th>
                                <th>{{ consultor.TotalConsultorPrice | currency:"R$"}}</th>
                                <th>{{ consultor.TotalCommision | currency:"R$"}}</th>
                                <th>{{ consultor.TotalGains | currency:"R$"}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info" role="alert" ng-if="consultorInvoices.length == 0">
                  No hemos encontrado resultados para sus criterios de busqueda.
                </div>
            </div>
            <div class="tab-pane fade in show col-md-8 offset-md-2" id="panel2" role="tabpanel" ng-controller="ChartLineCtrl">
                <canvas  id="line" class="chart chart-bar" chart-data="data"
                    chart-labels="labels" chart-series="consultores" chart-click="onClick">
                </canvas>
            </div>
            <div class="tab-pane fade in show col-md-8 offset-md-2" id="panel3" role="tabpanel" ng-controller="ChartPieCtrl">
                <canvas id="doughnut" class="chart chart-pie"
                  chart-data="data" chart-labels="labels">
                </canvas> 
            </div>
        </div>
    </div>
</div>

<%- contentFor('footer') %>
<h1>This is the footer</h1>
